<h1>Hi {{currentUsername}}!</h1>
<p>You can edit your account settings here:</p>
<hr width=”100%”> 

<form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username"><b>New Username (can be the same as previous)</b></label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
            <div *ngIf="f.username.errors.minlength">New username must be at least 6 characters</div>            
        </div>
    </div>
    <div class="form-group">
        <label for="password"><b>New Password (can be the same as previous)</b></label>
        <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">New password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <label for="balance"><b>New Piggy balance (can be the same as current)</b></label>
        <p>Current balance: €{{currentUser.balance}}</p>
        <input type="number" formControlName="balance" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.balance.errors }" />
        <div *ngIf="submitted && f.balance.errors" class="invalid-feedback">
            <div *ngIf="f.balance.errors.required">You need to enter your piggy balance</div>
        </div>
    </div>
    <div class="form-group">
        <label for="check"><b>I am sure i want to change my account info</b></label>
        <input type="checkbox" formControlName="check" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.check.errors }" />
        <div *ngIf="submitted && f.check.errors" class="invalid-feedback">
            <div *ngIf="f.check.errors.required">You need to check the box before you can change your account info</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Change account info
        </button>
    </div>
</form>
<hr width=”100%”> 

<h3>Delete my Bankie Account:</h3>
<p><b>IMPORTANT:</b> this makes your bankie account unretrievable and it deletes your PiggyID.
For a new PiggyID, contact support.</p>

<ul>
    <li>
        <a (click)="deleteUser(currentUser.userId)" class="text-danger"><b>Delete my account</b></a>
    </li>
</ul>