<h2>Register your Bankie Account</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
            <div *ngIf="f.username.errors.minlength">Username must be at least 6 characters</div>            
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <label for="piggyId">Piggy ID</label>
        <input type="text" formControlName="piggyId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.piggyId.errors }" />
        <div *ngIf="submitted && f.piggyId.errors" class="invalid-feedback">
            <div *ngIf="f.piggyId.errors.required">Piggy ID is required, you should have received it with your PiggyBank</div>
        </div>
    </div>
    <div class="form-group">
        <label for="agecheck">I am 16 years or older, or have consent from my parent(s) or guardian(s)</label>
        <input type="checkbox" formControlName="agecheck" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.agecheck.errors }" />
        <div *ngIf="submitted && f.agecheck.errors" class="invalid-feedback">
            <div *ngIf="f.agecheck.errors.required">You need to be 16 years or older, or have consent from your parent(s) or guardian(s)</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Return to Login</a>
    </div>
</form>